@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-transition: 500ms;
  --loading-animation-duration: 750ms;
  --loading-ball-width: 10vw;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

@-webkit-keyframes roll-in-left {
  0% {
    left: 0;
    rotate: -270deg;
  }
  100% {
    left: calc(100% - var(--loading-ball-width));
    rotate: 270deg;
  }
}
@keyframes roll-in-left {
  0% {
    left: 0;
    rotate: -270deg;
  }
  100% {
    left: calc(100% - var(--loading-ball-width));
    rotate: 270deg;
  }
}

.loading-rolling-animation {
  -webkit-animation: roll-in-left var(--loading-animation-duration) linear
    infinite alternate both;
  animation: roll-in-left var(--loading-animation-duration) linear infinite
    alternate both;
}
